{% extends 'layout.html' %}
{% load static %}
{% block content %}




<div id="accordion">
    <div class="card mb-1">
        <div class="card-header">
            <a href="#vpnKurulum" class="card-link" data-toggle="collapse">
                Windows Vpn Kurulumu
            </a>
        </div>
    </div>
    <div id="vpnKurulum" class="collapse" data-parent="#accordion">
        <div class="card-body">
            <img class="card-img" src="/static/img/vpnKurulum-1.jpg" alt="">
        </div>
        <button type="button" class="btn mb-1 btn-danger" data-toggle="collapse" data-target="#vpnKurulum">
            kapat
        </button>
    </div>
    

    <div class="card mb-1">
        <div class="card-header">
            <a href="#iosVpn" class="card-link" data-toggle="collapse">
                IOS Vpn Kurulumu
            </a>
        </div>
    </div>
    <div id="iosVpn" class="collapse" data-parent="#accordion">
        <div class="card-body">
            <img class="card-img" src="/static/img/iosVpn-1.jpg" alt="">
        </div>
        <button type="button" class="btn mb-1 btn-danger" data-toggle="collapse" data-target="#iosVpn">
            kapat
        </button>
    </div>

    <div class="card mb-1">
        <div class="card-header">
            <a href="#androidVpn" class="card-link" data-toggle="collapse">
                Android Vpn Kurulumu
            </a>
        </div>
    </div>
    <div id="androidVpn" class="collapse" data-parent="#accordion">
        <div class="card-body">
            
        </div>
        <button type="button" class="btn mb-1 btn-danger" data-toggle="collapse" data-target="#androidVpn">
            kapat
        </button>
    </div>

    <div class="card mb-1">
        <div class="card-header">
            <a href="#yetkiTalep" class="card-link" data-toggle="collapse">
                Yetki Talep Dökümanı
            </a>
        </div>
    </div>
    <div id="yetkiTalep" class="collapse" data-parent="#accordion">
        <div class="card-body">
            <img class="card-img" src="/static/img/yetkiTalep_001.jpg" alt="">
        </div>
        <button type="button" class="btn mb-1 btn-danger" data-toggle="collapse" data-target="#yetkiTalep">
            kapat
        </button>
    </div>

    <div class="card mb-1">
        <div class="card-header">
            <a href="#epostaKurulum" class="card-link" data-toggle="collapse">
                IPAD E-posta Kurulumu
            </a>
        </div>
    </div>
    <div id="epostaKurulum" class="collapse" data-parent="#accordion">
        <div class="card-body">
            <img class="card-img" src="/static/img/epostaKurulum_002.jpg" alt="">
        </div>
        <button type="button" class="btn mb-1 btn-danger" data-toggle="collapse" data-target="#epostaKurulum">
            kapat
        </button>
    </div>

    <div class="card mb-1">
        <div class="card-header">
            <a href="#iosBelgenet" class="card-link" data-toggle="collapse">
                IOS Belgenet Kurulumu
            </a>
        </div>
    </div>
    <div id="iosBelgenet" class="collapse" data-parent="#accordion">
        <div class="card-body">
            <img class="card-img" src="/static/img/iosBelgenet_001.jpg" alt="">
            </div>
        <button type="button" class="btn mb-1 btn-danger" data-toggle="collapse" data-target="#iosBelgenet">
            kapat
        </button>
    </div>

    <div class="card mb-1">
        <div class="card-header">
            <a href="#wifiSorunu" class="card-link" data-toggle="collapse">
                Windows Wifi Sorunu Çözümü
            </a>
        </div>
    </div>
    <div id="wifiSorunu" class="collapse" data-parent="#accordion">
        <div class="card-body">
            <img class="card-img" src="/static/img/wifiSorunu-01.jpg" alt="">
            <img class="card-img" src="/static/img/wifiSorunu-03.jpg" alt="">
            <img class="card-img" src="/static/img/wifiSorunu-04.jpg" alt="">
            <img class="card-img" src="/static/img/wifiSorunu-05.jpg" alt="">
            <img class="card-img" src="/static/img/wifiSorunu-06.jpg" alt="">
            <img class="card-img" src="/static/img/wifiSorunu-07.jpg" alt="">
            <img class="card-img" src="/static/img/wifiSorunu-08.jpg" alt="">
            <img class="card-img" src="/static/img/wifiSorunu-09.jpg" alt="">
            <img class="card-img" src="/static/img/wifiSorunu-10.jpg" alt="">
            <img class="card-img" src="/static/img/wifiSorunu-11.jpg" alt="">
            <img class="card-img" src="/static/img/wifiSorunu-02.jpg" alt="">
        </div>
        <button type="button" class="btn mb-1 btn-danger" data-toggle="collapse" data-target="#wifiSorunu">
            kapat
        </button>
    </div>




</div>







{% endblock %}