{% extends 'layout.html' %}
{% load static %}
{% block content %}




<div id="accordion">
    <div class="card mb-1">
        <div class="card-header">
            <a href="#vpnKurulum" class="card-link" data-toggle="collapse">
                Windows Vpn Kurulumu
            </a>
        </div>
    </div>
    <div id="vpnKurulum" class="collapse" data-parent="#accordion">
        <div class="card-body">
            <img class="card-img" src="/static/img/vpnKurulum-1.jpg" alt="">
            <img class="card-img" src="/static/img/vpnKurulum-2.jpg" alt="">
            <img class="card-img" src="/static/img/vpnKurulum-3.jpg" alt="">
            <img class="card-img" src="/static/img/vpnKurulum-4.jpg" alt="">
            <img class="card-img" src="/static/img/vpnKurulum-5.jpg" alt="">
            <img class="card-img" src="/static/img/vpnKurulum-6.jpg" alt="">
            <img class="card-img" src="/static/img/vpnKurulum-7.jpg" alt="">
        </div>
        <button type="button" class="btn mb-1 btn-danger" data-toggle="collapse" data-target="#vpnKurulum">
            kapat
        </button>
    </div>
    

    <div class="card mb-1">
        <div class="card-header">
            <a href="#iosVpn" class="card-link" data-toggle="collapse">
                IOS Vpn Kurulumu
            </a>
        </div>
    </div>
    <div id="iosVpn" class="collapse" data-parent="#accordion">
        <div class="card-body">
            <img class="card-img" src="/static/img/iosVpn-1.jpg" alt="">
            <img class="card-img" src="/static/img/iosVpn-3.jpg" alt="">
            <img class="card-img" src="/static/img/iosVpn-4.jpg" alt="">
            <img class="card-img" src="/static/img/iosVpn-5.jpg" alt="">
            <img class="card-img" src="/static/img/iosVpn-6.jpg" alt="">
            <img class="card-img" src="/static/img/iosVpn-7.jpg" alt="">
            <img class="card-img" src="/static/img/iosVpn-8.jpg" alt="">
            <img class="card-img" src="/static/img/iosVpn-2.jpg" alt="">
        </div>
        <button type="button" class="btn mb-1 btn-danger" data-toggle="collapse" data-target="#iosVpn">
            kapat
        </button>
    </div>

    <div class="card mb-1">
        <div class="card-header">
            <a href="#androidVpn" class="card-link" data-toggle="collapse">
                Android Vpn Kurulumu
            </a>
        </div>
    </div>
    <div id="androidVpn" class="collapse" data-parent="#accordion">
        <div class="card-body">
            <img class="card-img" src="/static/img/androidVpn.jpg" alt="">
        </div>
        <button type="button" class="btn mb-1 btn-danger" data-toggle="collapse" data-target="#androidVpn">
            kapat
        </button>
    </div>

    <div class="card mb-1">
        <div class="card-header">
            <a href="#yetkiTalep" class="card-link" data-toggle="collapse">
                Yetki Talep Dökümanı
            </a>
        </div>
    </div>
    <div id="yetkiTalep" class="collapse" data-parent="#accordion">
        <div class="card-body">
            <img class="card-img" src="/static/img/yetkiTalep_001.jpg" alt="">
            <img class="card-img" src="/static/img/yetkiTalep_002.jpg" alt="">
            <img class="card-img" src="/static/img/yetkiTalep_003.jpg" alt="">
            <img class="card-img" src="/static/img/yetkiTalep_004.jpg" alt="">
        </div>
        <button type="button" class="btn mb-1 btn-danger" data-toggle="collapse" data-target="#yetkiTalep">
            kapat
        </button>
    </div>

    <div class="card mb-1">
        <div class="card-header">
            <a href="#epostaKurulum" class="card-link" data-toggle="collapse">
                IPAD E-posta Kurulumu
            </a>
        </div>
    </div>
    <div id="epostaKurulum" class="collapse" data-parent="#accordion">
        <div class="card-body">
            <img class="card-img" src="/static/img/epostaKurulum_001.jpg" alt="">
            <img class="card-img" src="/static/img/epostaKurulum_002.jpg" alt="">
            <img class="card-img" src="/static/img/epostaKurulum_003.jpg" alt="">
            <img class="card-img" src="/static/img/epostaKurulum_004.jpg" alt="">
            <img class="card-img" src="/static/img/epostaKurulum_005.jpg" alt="">
            <img class="card-img" src="/static/img/epostaKurulum_006.jpg" alt="">
            <img class="card-img" src="/static/img/epostaKurulum_007.jpg" alt="">
            <img class="card-img" src="/static/img/epostaKurulum_008.jpg" alt="">
            <img class="card-img" src="/static/img/epostaKurulum_009.jpg" alt="">
            <img class="card-img" src="/static/img/epostaKurulum_010.jpg" alt="">
            <img class="card-img" src="/static/img/epostaKurulum_011.jpg" alt="">
            <img class="card-img" src="/static/img/epostaKurulum_012.jpg" alt="">
            <img class="card-img" src="/static/img/epostaKurulum_013.jpg" alt="">
        </div>
        <button type="button" class="btn mb-1 btn-danger" data-toggle="collapse" data-target="#epostaKurulum">
            kapat
        </button>
    </div>

    <div class="card mb-1">
        <div class="card-header">
            <a href="#iosBelgenet" class="card-link" data-toggle="collapse">
                IOS Belgenet Kurulumu
            </a>
        </div>
    </div>
    <div id="iosBelgenet" class="collapse" data-parent="#accordion">
        <div class="card-body">
            <img class="card-img" src="/static/img/iosBelgenet_001.jpg" alt="">
            <img class="card-img" src="/static/img/iosBelgenet_003.jpg" alt="">
            <img class="card-img" src="/static/img/iosBelgenet_002.jpg" alt="">
            <img class="card-img" src="/static/img/iosBelgenet_005.jpg" alt="">
            <img class="card-img" src="/static/img/iosBelgenet_006.jpg" alt="">
            <img class="card-img" src="/static/img/iosBelgenet_007.jpg" alt="">
            <img class="card-img" src="/static/img/iosBelgenet_008.jpg" alt="">
            <img class="card-img" src="/static/img/iosBelgenet_009.jpg" alt="">
            <img class="card-img" src="/static/img/iosBelgenet_010.jpg" alt="">
            <img class="card-img" src="/static/img/iosBelgenet_011.jpg" alt="">
            <img class="card-img" src="/static/img/iosBelgenet_012.jpg" alt="">
            <img class="card-img" src="/static/img/iosBelgenet_013.jpg" alt="">
            <img class="card-img" src="/static/img/iosBelgenet_004.jpg" alt="">
        </div>
        <button type="button" class="btn mb-1 btn-danger" data-toggle="collapse" data-target="#iosBelgenet">
            kapat
        </button>
    </div>

    <div class="card mb-1">
        <div class="card-header">
            <a href="#wifiSorunu" class="card-link" data-toggle="collapse">
                Windows Wifi Sorunu Çözümü
            </a>
        </div>
    </div>
    <div id="wifiSorunu" class="collapse" data-parent="#accordion">
        <div class="card-body">
            <img class="card-img" src="/static/img/wifiSorunu-01.jpg" alt="">
            <img class="card-img" src="/static/img/wifiSorunu-03.jpg" alt="">
            <img class="card-img" src="/static/img/wifiSorunu-04.jpg" alt="">
            <img class="card-img" src="/static/img/wifiSorunu-05.jpg" alt="">
            <img class="card-img" src="/static/img/wifiSorunu-06.jpg" alt="">
            <img class="card-img" src="/static/img/wifiSorunu-07.jpg" alt="">
            <img class="card-img" src="/static/img/wifiSorunu-08.jpg" alt="">
            <img class="card-img" src="/static/img/wifiSorunu-09.jpg" alt="">
            <img class="card-img" src="/static/img/wifiSorunu-10.jpg" alt="">
            <img class="card-img" src="/static/img/wifiSorunu-11.jpg" alt="">
            <img class="card-img" src="/static/img/wifiSorunu-02.jpg" alt="">
        </div>
        <button type="button" class="btn mb-1 btn-danger" data-toggle="collapse" data-target="#wifiSorunu">
            kapat
        </button>
    </div>




</div>







{% endblock %}